<html lang="en-gb">
<%- include('_head') -%>
    <%- include('_header') -%>

        <body>

            <ol>
                <% results.forEach(function(post) {%>
                    <li>
                        <h2>
                            <%= post.message %>
                        </h2>
                        <img src=<%=post.imageUrl%>>

                        <p>
                            Posted at: <%=post.createdAt%>
                                <br> Posted by:
                                <%= post.postedBy.username %>

                                     </p>
                                        <div class="reaction">
                                            <form method="post" action="/posts/<%= post.id %>/like/">
                                                <button class='like-button' type="submit">Like (<%= post.likedBy.length %>)</button>
                                                <form method="post" action="/posts/<%= post.id %>/dislike/">
                                                    <button class='dislike-button' type="submit">Dislike (<%= post.dislikedBy.length %>)</button>
                                                </form>
                                            </form>
                                        </div>

                    </li>
                    <% }); %>
            </ol>
            <nav>
                <%if (previous) { %>
                    <a href="<%= previous %>">Previous page</a>
                    <% } %>
                        <%if (next) { %>
                            <a href="<%= next %>">Next page</a>
                            <% } %>

            </nav>
        </body>
        <%- include('_footer') -%>

</html>